.wrapper {
    overflow: hidden;
    position: relative;
    background: white;
    display: grid;
    place-content: center;
    display: block;
    min-height: 60vh;
    text-align: center;
    padding: 50px;
}

.background {
    position: absolute;
    top: -100px;
    left: -100px;
    background: url(//bassets.github.io/gradient-background.png) no-repeat white;
    background-size: cover;
    animation: 8s background infinite linear;
    width: 1960px;
    height: 1960px;
    mix-blend-mode: screen;
}

.wrapper h1 {
    margin: 0;
    font-size: 100px;
    font-weight: 400;
}

.wrapper p {
    margin: 0;
    font-size: 50px;
}

@keyframes background {
    to {
        transform: rotate(1turn);
    }
}
