.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}

.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.img-border {
    border: 1px solid rgb(67, 117, 255);
}

.text-title {
    color: #ff1313;
}

.list-info {
    font-size: 18px;
}

.list-info li {
    padding: 8px;
    border-bottom: 1px solid rgb(194, 180, 180);
}