.badge {
    display: inline-block;
    padding: 0.15em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.35rem;
}

.badge-danger {
    color: #fff;
    background-color: #e74a3b;
}

.badge-counter {
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    right: 0.25rem;
    margin-top: -0.25rem;
}