@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    width: 100%;
    background: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
    z-index: 1;
}

nav .icon {
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}
nav .icon a {
   
    color: #fff;
   text-decoration: none;
}
nav ol {
    display: flex;
    list-style: none;
    margin: auto 0;
}

nav ol li {
    margin: 0 2px;
}

nav ol li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-weight: 500;
}

nav ol li:hover a {
    background: #fff;
    color: #555;
    border-radius: 5px;
}

nav .search_box {
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}

nav .search_box input {
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 15px;
    width: 350px;
}

nav .search_box span {
    color: #0a5071;
    font-size: 20px;
    background: #fff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

nav .search_box span:hover {
    color: #fff;
}

nav .search_box span::after {
    height: 100%;
    width: 0%;
    content: '';
    background: #ff003c;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}

nav .search_box span:hover::after {
    width: 100%;
}

nav .bar {
    position: relative;
    margin: auto;
    display: none;
}

nav .bar span {
    position: absolute;
    color: #fff;
    font-size: 35px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color: #f2f2f2;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    min-width: 180px;
    top: 30px;
    right: 0;
    border-radius: 5px;
}

.show {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    text-decoration: none;
    text-align: left;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background: radial-gradient(100% 100% at 100% 0, #76dffc 0, #7585ff 100%);
}

@media screen and (max-width: 1200px) {
    nav {
        display: block;
        padding: 0;
    }
    nav .icon {
        display: inline-block;
        padding: 15px 30px;
    }
    nav .search_box {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    nav .search_box input {
        width: 90%;
    }
    nav ol {
        display: flex;
        flex-direction: column;
        background: #fff;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
    }
    nav ol li {
        text-align: center;
        transition: 0.3s 0.1s all;
        opacity: 0;
    }
    nav ol li a {
        color: #000;
        font-size: 20px;
        padding: 25px;
        display: block;
    }
    nav ol li:nth-child(1) {
        transform: translateX(-150px);
    }
    nav ol li:nth-child(2) {
        transform: translateX(-200px);
    }
    nav ol li:nth-child(3) {
        transform: translateX(-250px);
    }
    nav ol li:nth-child(4) {
        transform: translateX(-300px);
    }
    nav ol li:nth-child(5) {
        transform: translateX(-350px);
    }
    nav .bar {
        display: block;
        position: absolute;
        top: 20px;
        right: 80px;
        cursor: pointer;
    }
    nav .bar #times {
        display: none;
    }
    #check:checked~nav .bar #times {
        display: block;
    }
    #check:checked~nav .bar #bars {
        display: none;
    }
    #check:checked~nav ol {
        visibility: visible;
        height: 465px;
    }
    #check:checked~nav ol li:nth-child(1),
    #check:checked~nav ol li:nth-child(2),
    #check:checked~nav ol li:nth-child(3),
    #check:checked~nav ol li:nth-child(4),
    #check:checked~nav ol li:nth-child(5) {
        transform: translateX(0);
        opacity: 1;
    }
}