.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  .modal_overlay{
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.5);
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .modal_window{
      width: 500px;
      background: #ffffff;
      border: 1px #ffffff;
      font-size: 16px;
      box-shadow: 0 0 15px rgba(0,0,0,0.25);
      margin-bottom: 70vh;
  }

  .modal_titlebar{
      height: 40px;
      background: #4e73df;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .modal_title {
      margin-left: 15px;
      font-weight: bold;
      color: #eeeeee;
  }

  .modal_close{
      width: 40px;
      height: 40px;
      outline: none;
      border: none;
      background: transparent;
      color: #eeeeee;
      cursor: pointer;
  }
  .modal_close:active{
      transform: scale(0.9);
  }

  .modal_content{
      padding: 15px;
      font-size: 0.9em;
  }